<h1>index.html</h1>

<p>
This page can be edited at <tt>app/views/<?php echo $this->r->controller?>/<?php echo $this->r->action?>.html</tt>.
</p>
<p>
You can use the generate.php script to create new controllers and models.
</p>

<ul>
   <li>Copy mksite to your php directory.</li>
   <li>Make a backup of ALL of your files before running <tt>generate.php</tt>.</li>
   <li>Set the permission of <tt>generate.php</tt> to 755: <tt>chmod 755 generate.php</tt>.</li>
   <li>Check the site in your browser: <tt>http://hills.ccsf.edu/~YOURNAME/index.php</tt>.</li>
   <li>Create new controllers: <tt>generate.php controller sports nfl nba baseball soccer</tt></li>
   <li>Create new models: <tt>generate.php model scores</tt></li>
</ul>

